<%= render :partial => 'layouts/nav_bar' %>


<div class="container-fluid">

  <h1>RSVP Here</h1>

  <p>Fill this out in order to complete your RSVP</p>

   <%= render :partial => 'forms/rsvp_form', :locals => {:submission_path => new_user_path, :user => @user} %>

</div>

<%= render :partial => 'layouts/footer' %>
